body {
    background-color : rgb( 255 , 253 , 245 );
    font-family: 'Roboto', 'Arial', sans-serif;
    color: rgb( 18 , 18 , 18 );
    font-weight: 300;
}
.container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 15px;
    height: 100%;
    position: relative;
}